.App {
  text-align: center;
}

.clocks-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 100px;
}

.clock {
  margin-right: 20px;
}

.remover {
  background-image: url('./img/delete.png');
  background-size: contain;
  width: 10px;
  height: 10px;
}

.remover:hover {
  cursor: pointer;
}